doctype html
head
  script(src='/socket.io/socket.io.js')
  script(src='/lib/jquery-latest.min.js')
  script(src='/lib/bootstrap.min.js')
  script(src='/lib/leaflet.js')
  script(src="/lib/leaflet.awesome-markers.js")
  script(src='/js/cuchubo.js')
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/leaflet.css')
  link(rel="stylesheet", href="/css/leaflet.awesome-markers.css")
  link(rel='stylesheet', href='/css/cuchubo.css')
  script.
    $(init);

body

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner 
      .container
        a.brand cuchubo virtual tour
        .collapse.nav-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-question-sign.icon-white
                |  help
                b.caret
              ul#help-menu-list.dropdown-menu
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-off.icon-white
                |  toggle
                b.caret
              ul#toggle-menu-list.dropdown-menu
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-star.icon-white
                |  highlight
                b.caret
              ul#highlight-menu-list.dropdown-menu
                li
                  a(onclick='fireHighlightModal(); return false;', href='#')
                    i.icon-check.icon-black
                    |  selection
                li
                  a(href='#')
                    i.icon-filter.icon-black
                    |  taxon...
                li
                  a(href='#')
                    i.icon-tag.icon-black
                    |  tags...
                li
                  a(onclick='resetHighlightOptions(); return false;', href='#')
                    i.icon-refresh.icon-black
                    |  reset

  #map
  #accessions

  #highlightModal.modal.hide.fade(aria-hidden='true', style='display: none;')
    .modal-header
      a.close(data-dismiss='modal') ✕
      h3 highlight a selection
    .modal-body
      table(width='100%')
        tbody
          tr
            td(width='30%') what to look for
            td
              input#keyword(name='keyword')
          tr
            td what to highlight
            td
              form#highlightOptions.well(enctype='multipart/form-data')
    .modal-footer
      a.btn.btn-primary(href='#', onclick='$(\'#highlightModal\').modal(\'hide\'); doHighlight(); return false;') HighLight!

  #addPlantModal.modal.hide.fade
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h3 add a plant at the location
    .modal-body
      input(type='hidden')
      table(width='100%')
        tbody
          tr
            td(width='30%') accession#.plant#
            td
              input#addendum(name='keyword', type='text')
    .modal-footer
      a#doAddPlant.btn.btn-primary(href='#', onclick='$(\'#addPlantModal\').modal(\'hide\'); doAddPlant(); return false;') OK

  #showPhotoModal.modal.hide.fade(tabindex='-1', role='dialog', style='width: 800px;')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3
    .modal-body
      img(src='')
    .modal-footer
      button.btn(data-dismiss='modal') Close
